<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>policyCategoryAuthentication</key>
	<array>
		<dict>
			<key>policyContent</key>
			<string>(policyAttributeFailedAuthentications &lt; policyAttributeMaximumFailedAuthentications) OR (policyAttributeCurrentTime &gt; policyAttributeLastFailedAuthenticationTime + lockoutDuration * 60)</string>
			<key>policyIdentifier</key>
			<string>3 failed login attempts lock user accounts for 15 minutes</string>
			<key>policyParameters</key>
			<dict>
				<key>lockoutDuration</key>
				<integer>15</integer>
				<key>policyAttributeMaximumFailedAuthentications</key>
				<integer>3</integer>
			</dict>
		</dict>
	</array>
	<key>policyCategoryPasswordChange</key>
	<array>
		<dict>
			<key>policyContent</key>
			<string>policyAttributeCurrentTime &gt; policyAttributeLastPasswordChangeTime + (policyAttributeExpiresEveryNDays * 24 * 60 * 60)</string>
			<key>policyIdentifier</key>
			<string>Password expires every 60 days</string>
			<key>policyParameters</key>
			<dict>
				<key>policyAttributeExpiresEveryNDays</key>
				<integer>60</integer>
			</dict>
		</dict>
	</array>
	<key>policyCategoryPasswordContent</key>
	<array>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*[A-Za-z].*){1}'</string>
			<key>policyIdentifier</key>
			<string>Contains at least 1 alphabetic char(s)</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumAlphaCharacters</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*[0-9].*){1}'</string>
			<key>policyIdentifier</key>
			<string>Contains at least 1 numeric char(s)</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumNumericCharacters</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*[^0-9a-zA-Z].*){1}'</string>
			<key>policyIdentifier</key>
			<string>Contains at least 1 symbolic char(s)</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumSymbolicCharacters</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>none policyAttributePasswordHashes in policyAttributePasswordHistory</string>
			<key>policyIdentifier</key>
			<string>Last 15 passwords cannot be reused</string>
			<key>policyParameters</key>
			<dict>
				<key>policyAttributePasswordHistoryDepth</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributeSequentialCharacters &lt; policyAttributeMaximumSequentialCharacters</string>
			<key>policyIdentifier</key>
			<string>Contains less than 3 sequential chars</string>
			<key>policyParameters</key>
			<dict>
				<key>policyAttributeMaximumSequentialCharacters</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributeConsecutiveCharacters &lt; policyAttributeMaximumConsecutiveCharacters</string>
			<key>policyIdentifier</key>
			<string>Contains less than 3 consecutive chars</string>
			<key>policyParameters</key>
			<dict>
				<key>policyAttributeMaximumConsecutiveCharacters</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.){12,}'</string>
			<key>policyIdentifier</key>
			<string>Contains at least 12 characters</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumChars</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*[a-z].*[A-Z].*)|(.*[A-Z].*[a-z].*)'</string>
			<key>policyIdentifier</key>
			<string>Contains at least 1 upper and 1 lower case char</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumMixedCaseInstances</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
